
.top {
    background-color: #232F3D;
    background-position: flex;
    overflow: hidden;
    
}

.NavbarNav {
    background-color: #232F3D;
    background-position: flex;
    overflow: hidden;

}
