.top {
    background-color: #232F3D;
    background-position: flex;
    overflow: hidden;
    
}

.NavbarNav {
    background-color: #232F3D;
    background-position: flex;
    overflow: hidden;

}

#map-svg {

    color: white;
}

.card-deck {
    background-image: linear-gradient(358.97deg, #EAEDED 10.71%, rgba(234, 237, 237, 0) 45.49%), url(amazonfont.png);
    background-position: flex;
    overflow: hidden;
    
}

.carousel-inner {
    background: #E5E5E5;
    background-position: flex;
}
